.input {
  box-sizing: border-box;
  width: 100%;

  padding-bottom: 16px;
  outline: none;

  background-color: $background-color;
  border: none;
  border-bottom: 1px solid $color-white;

  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: $color-white;

  &::placeholder {
    color: #d2ebff;
  }

  &:focus {
    border-bottom: 2px solid $color-white;
  }
}
