.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 48px;
  column-gap: 24px;

  position: relative;

  @include on-tablet {
    padding: 41px 0 56px;
  }

  @include on-desktop-small {
    justify-content: space-between;
    padding: 52px 0 48px;
  }
}
