$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-small-min-width: 1024px;
$desktop-medium-min-width: 1280px;
$desktop-min-width: 1600px;
$desktop-large-min-width: 2560px;
$c-gray: #eee;
$background-color: #008aff;
$button-color: #ff9c8e;
$button-color-hover: #ff7e6c;
$main-font-color: #253757;
$second-font-color: #6c788b;
$color-white: #fff;
$second-color: #ff9c8e;
